<div id="new-robot"></div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-name">Alice</h5>
      <h5 class="card-weight_kg">6,578 kg</h5>
      <h5 class="card-height_m">17,76  m</h5>
      <h5 class="card-country">Albany</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-name">Bob</h5>
      <h5 class="card-weight_kg">10,871 kg</h5>
      <h5 class="card-height_m">15  m</h5>
      <h5 class="card-country">Bénin</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-name">Cédric</h5>
      <h5 class="card-weight_kg">1,002 kg</h5>
      <h5 class="card-height_m">3,12 m</h5>
      <h5 class="card-country">Cameroun</h5>
    </div>
  </div>

<form hx-post="/robots/create-robot"
      hx-ext="json-enc"
      hx-trigger="submit"
      hx-target="#new-robot"
      hx-swap="afterbegin">

    <labe  class="form-label">Nom 
        <input type=text name="name" class="form-control" placeholder="Bob Le Chef"></label><br>
    <label  class="form-label">Commentaire 
        <textarea type=text name="comment"  class="form-control" placeholder="blah blah blah" ></textarea>
    </label>
    <br>
    <input type=submit  class="btn btn-primary">
</form>