@{ ViewData["Title"] = "Home Page"; }

<!-- <div class="text-center">
    <h1 class="display-4">Welcome to you</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core yeah!</a>.</p>
</div> -->

<div class="text-center">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background-color: navy;
      font-family: Helvetica, sans-serif;
      font-size: 20px;
    }
    .vertical-menue {
      background-color: #8e8e8e;
      width: 200px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
    .rectangle {
      background-color: white;
      border-radius: 10px;
      width: 800px;
      height: 900px;
    }
  </style>
  <div class="vertical-menue">
    <p>robot</p>
    <ul>
      <li><a href="#" title="voire bob">Bob</a></li>
    </ul>
  </div>
  <div class="rectangle"></div>
</div>
